 <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    选择其它数据
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=fs">fs</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=fs/">fs/</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=fs/movie">fs/movie</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=fs/list">fs/list</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=fs/vplay">fs/vplay</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=api">api</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=q">q</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www">www</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www/">www/</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www/channel">www/channel</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www/retrieve">www/retrieve</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www/search">www/search</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=www/vplay">www/vplay</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=api1">api1</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/php_analysis/?name=q1">q1</a></li>
  </ul>
</div>